.goji-card__host {
  /* Sit on top of the page content */
  position: fixed;
  z-index: 9999999;

  /* Place in bottom right */
  margin-left: auto;
  margin-top: auto;
  margin-right: 5rem;
  margin-bottom: 5rem;

  /* Color */
  background-color: #ffc4bc;
  border-color: black;
  border-width: 2pt;
  border-style: solid;
  overflow: hidden;

  /* Stretches to fill entire region */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* Transitions */
  transition: all 0.25s;
}

.goji-card__host--open {
  border-radius: 10pt;
  width: 23rem;
  height: 35rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  cursor: auto;
}

.goji-card__host--closed {
  border-radius: 3rem;
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.goji-card__logo {
  margin: auto;
  width: 35pt;
  height: 35pt;
}

.goji-card__close-button {
  position: absolute;
  z-index: 99999999;
}

.goji-card__nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.goji-card__header,
.goji-card__content {
  padding: 0 10pt 0 10pt;
}

.goji-card__score-icon {
  width: 40pt;
  height: 40pt;
}

.goji-card__score-number {
  font-size: 1.2rem;
}

.goji-card__category {
  font-size: 1.1rem;
}
