.goji-card__host {
  /* Sit on top of the page content */
  position: fixed;
  z-index: 9999999;

  /* Move to right side (and down-ish) */
  margin-left: auto;
  margin-top: auto;
  margin-right: 5rem;
  margin-bottom: 5rem;
  transition: margin-right 0.25s;

  /* Color */
  background-color: #ffc4bc;
  border-radius: 10pt;
  border-color: black;
  border-width: 2pt;
  border-style: solid;
  overflow: hidden;

  /* Define size */
  width: 23rem;
  height: 35rem;

  /* Stretches to fill entire region */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.goji-card__nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.goji-card__content {
  padding: 0 10pt 0 10pt;
}

.goji-card__score-icon {
  width: 40pt;
  height: 40pt;
}

.goji-card__score-number {
  font-size: 1.2rem;
}