<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goji Store Score</title>
    <link rel="stylesheet" href="../styles/websitestatus.css">
</head>
<body>
    <h2 id="store_name">Test</h2>
    <div id="goji_score1">
        <p>Overall Goji Score:</p>
        <img src="../icons/icon-32.png" alt="berry1">
        <img src="../icons/icon-32.png" alt="berry2">
        <img src="../icons/icon-32.png" alt="berry3">
        <img src="../icons/icon-32.png" alt="berry4">
        <img src="../icons/icon-32.png" alt="berry5">
    </h1>

    <div id="goji_score2">
        <p>Personalized Goji Score:</p>
        <img src="../icons/icon-32.png" alt="berry2.1">
        <img src="../icons/icon-32.png" alt="berry2.2">
        <img src="../icons/icon-32.png" alt="berry2.3">
        <img src="../icons/icon-32.png" alt="berry2.4">
        <img src="../icons/icon-32.png" alt="berry2.5">
    </div>

    
    <div id="cat0">
        
    </div>

    <div id="cat1">

    </div>

    <div id="cat2">

    </div>

    <script src="../src/websitestatus.js"></script>
</body>
</html>