<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goji Store Score</title>
    <link rel="stylesheet" href="../styles/websitestatus.css">
</head>

<body>
    <h1 id="store_name"></h1>

    <div id="goji_score1">
        <h2>Overall Goji Score:</h2>
    </div>

    <div id="goji_score2">
        <h2>Personalized Goji Score:</h2>
    </div>

    <br>

    <h2>Personal Categories Percentiles</h2>

    <div id="category">
        <h2 id="category_percentile">96%</h2>
            <h3 id="category_name">Category</h3>
    </div>

    <div id="category">
        <h2 id="category_percentile">96%</h2>
            <h3 id="category_name">Category</h3>
    </div>

    <div id="category">
        <h2 id="category_percentile">96%</h2>
            <h3 id="category_name">Category</h3>
    </div>

    <script src="../src/websitestatus.js"></script>
</body>

</html>