<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/websitestatus.css">
</head>
<body>
    Hello my name is Bob and I approve this message
    <h1>
        <img src="../icons/icon-32.png" alt="berry1">
        <img src="../icons/icon-32.png" alt="berry2">
        <img src="../icons/icon-32.png" alt="berry3">
        <img src="../icons/icon-32.png" alt="berry4">
        <img src="../icons/icon-32.png" alt="berry5">
    </h1>

    <div id="cat1">
        
    </div>

    <div id="cat2">

    </div>

    <div id="cat2">

    </div>
</body>
</html>