body {
  width: 300pt;
  height: 425pt;
  background-color: #ffc4bc;
}

.goji-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100pt;
  height: 100pt;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30pt;
}
h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20pt;
}

.checkboxes label {
  font-size: 20pt;
}
