#goji-tab {
  /* Sit on top of the page content */
  position: fixed;

  /* Move to right side (and down-ish) */
  margin-left: auto;
  margin-right: 0px;
  margin-top: 10%;

  /* Define button size */
  width: 65pt;
  height: 50pt;
  border-radius: 10pt 0 0 10pt;

  /* Stretches to fill entire region */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* Tab colors and borders */
  background-color: #ffc4bc;
  border-color: black;
  border-style: solid;
  border-width: 2pt 0 2pt 2pt;

  /* Place at top */
  z-index: 9999999;
  cursor: pointer; /* Add a pointer on hover */

  /* Arrange image in center */
  display: flex;
  justify-content: center;
}

#goji-tab img {
  padding: 10pt;
}
