#goji_score1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#goji_score2 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#cat0 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#cat1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#cat2 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#category_name {
    display: inline;
}