body {
  background-color: #ffc4bc;
  text-align: center;
}

img {
  width: 43pt;
  height: 33pt;
}

.score {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15pt;
}

.category {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.category h2,
.category h3 {
  display: inline-block;
}
